<!DOCTYPE html>
<html>
<head>
	<title>Manage Product</title>
</head>
<body>
	<table border="1" width="100%" cellpadding="2" cellspacing="0">
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Address</th>
			<th></th>
		</tr>
		<tr>
			<td><a href="#">Mango</a></td>
			<td><a href="#">250(kg)</a></td>
			<td><a href="#">Mechobagh Agro Farms</a></td>
			<td><button>edit</button></td>
			
		</tr>
		<tr>
			<td><a href="#">Rice,paddy</a></td>
			<td><a href="#">200(kg)</a></td>
			<td><a href="#">Mechobagh Agro Farms</a></td>
			<td><button>edit</button></td>
		</tr>
		<tr>
			<td><a href="#">Wheat</a></td>
			<td><a href="#">175(kg)</a></td>
			<td><a href="#">Modina Agro Farms</a></td>
			<td><button>edit</button></td>
		</tr>
		<tr>
			<td><a href="#">Sugarcane</a></td>
			<td><a href="#">20(per pieces)</a></td>
			<td><a href="#">Modina Agro Farms</a></td>
			<td><button>edit</button></td>
		</tr>
	</table>
	<button>Add product</button>
	</br>
	<a href="../dashboard.php">back</a>
</body>
</html>