<!DOCTYPE html>
<html>
<head>
	<title>Manage Cost Range</title>
</head>
<body>
	<table border="1" width="100%" cellpadding="2" cellspacing="0">
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Address</th>
		</tr>
		<tr>
			<td><a href="#">Bitter gourd</a></td>
			<td><a href="#">100</a></td>
			<td><a href="#">Modina Agro Farms</a></td>
		</tr>
		<tr>
			<td><a href="#">Cauliflower</a></td>
			<td><a href="#">200</a></td>
			<td><a href="#">Modina Agro Farms</a></td>
		</tr>
		<tr>
			<td><a href="#">carrot</a></td>
			<td><a href="#">300</a></td>
			<td><a href="#">Mechobagh Agro Farms</a></td>
		</tr>
		<tr>
			<td><a href="#">corn</a></td>
			<td><a href="#">150</a></td>
			<td><a href="#">Mechobagh Agro Farms</a></td>
		</tr>
	</table>
	<a href="../dashboard.php">back</a>
</body>
</html>