<!DOCTYPE html>
<html>
<head>
	<title>Medical Sercices</title>
</head>
<body>
	<table border="1" width="100%" cellpadding="2" cellspacing="0">
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Place</th>
		</tr>
		<tr>
			<td>Antibody test</td>
			<td>100</td>
			<td>House # 34, Road # 14/A, R/A, Dhaka 1209</td>
		</tr>
		<tr>
			<td>Albumin Test</td>
			<td>200</td>
			<td>House # 34, Road # 14/A, R/A, Dhaka 1209</td>
		</tr>
		<tr>
			<td>Allergy Test	</td>
			<td>300</td>
			<td>House # 34, Road # 14/A, R/A, Dhaka 1209</td>
		</tr>
		<tr>
			<td>ANC Profile	</td>
			<td>150</td>
			<td>House # 34, Road # 14/A, R/A, Dhaka 1209</td>
		</tr>
	</table>
	<a href="../dashboard.php">back</a>
</body>
</html>